
:root {
    --primary-colour: #005a05;/* forest green */
    --secondary-color:#f4a261; /* warm sand */
    --accent1-colour: #264653; /* dark slate blue */
    --accent2-colour: #e9c46a; /* light golden yellow */
    --heading-front: "Merriwhelter Sans",sans-serif;
    --body-front:"Lato",sans-serif;

}

header {
    background-color: var(--primary-colour);
    color: var(--primary-colour);
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body{
    font-family: var(--body-front)
    color: var(--accent1-colour);
}

header,main,footer{
    width: 840px;
    margin: 0 auto;
}

h1,h2 {
    font-family:var(--heading-front);
    color: var(--primary-colour);
}

nav,p,section,article {
    margin: 16px;
    padding: 8px;
}

.socialmedia a{
    text-decoration: none;
}

.hero{
    position:relative;
}

.hero img {
    display: block;
    width: 100px;
    height: auto;
}

h1 {
    position: absolute;
    top: 200px;
    width: 100px;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-colour);
    color: #fff;/* white text - make sure there is enough contrast with background color */
}

.hero article img{
    float: right;
    width: 125px;
}